body {
    padding:50px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
td,th{
    padding:20px;
    border: 1px solid brown;
}
th{
    font-family: 'patua One', cursive;
    font-size: 16px;
    font-weight: 400;
    color: blue;
    text-align: left;
    padding: 15px;
    background-color: yellowgreen;
    border-color: white;
}
td{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: blueviolet;
    font-size: 13px;
    padding: 20px 20px 20px 20px;
    border-bottom: 1px solid burlywood;
    text-align: center;
}
.hover {
    background: yellow;
}